body {
        background-COLOR: lightblue;
	color: rgb(6,71,128);
	font-family:monospace;
} 

.topnav {
  overflow: hidden;
  background-color: rgb(244,152,89);
}

.topnav a {
  float: left;
  color: rgb(6,71,128);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(252,72,71);
  color: black;
}

.topnav a.active {
  background-color: rgb(251,98,82);
  color: black;
}