body {
        background-COLOR: #06aed5;
	color: rgb(6,71,128);
	font-family:verdana;
} 

.topnav {
  overflow: hidden;
  background-color: #cbbf7a;
}

.topnav a {
  float: left;
  color: rgb(6,71,128);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fff1d0;
  color: black;
}

.topnav a.active {
  background-color: #d76a03;
  color: black;
}
h4 {
	color: #086788;
} 