body {
        background-COLOR: #395c6b;
	color: #E6AF2E;
	font-family:verdana;
} 

.topnav {
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-color: purple;
  border-width: 2px;
}

.topnav a {
  float: left;
  color: #B19CD9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #B6C1F3;
  color: black;
}

.topnav a.active {
  background-color: #B19CD9;
  color: black;
}
h4 {
	color: #5FAD41;
font-weight: normal;
} 

.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
